<launch>

    <arg name="debug" default="false"/>
    <arg name = "pointcloud_input" default = "/xtion/depth_registered/points"/>
    <arg name = "output_topic" default = "/pointcloud_poc_out"/>


    <group>
        <node
            name="pointcloud_poc"
            pkg="pointcloud_poc"
            output="screen"
            type="pointcloud_poc_node"
            launch-prefix="$(eval 'valgrind' if debug == true else '')"
        >
            <param name = "pointcloud_input" value = "$(arg pointcloud_input)"/>
            <param name = "output_topic" value = "$(arg output_topic)"/>
        </node>
    </group>

</launch>
    